<article class="cart-item">
  <div class="cart-item-info">
    <h2><%= item.product.title %></h2>
    <p id="cart-item-total">$<%= item.totalPrice.toFixed(2) %><span class="cart-product-price"> ( $<%= item.product.price.toFixed(2) %> ) </span></p>
  </div>
  <form class="cart-item-action" data-productid="<%=item.product.id%>" data-csrf="<%=locals.csrfToken%>">
    <input type="number" id="quantity" value="<%= item.quantity %>" %>>
    <button class="btn btn-alt" >Update</button>
  </form>
</article>
